hr {
	border: none; /* Убираем границу */
	background-color: black; /* Цвет линии */
	color: black; /* Цвет линии для IE6-7 */
	height: 2px; /* Толщина линии */
}

p { 
	margin-left: 5%; /* Отступ справа */
	margin-right: 5%; /* Отступ слева */
}	

#ouch {
	margin-left: 80%; /* Отступ слева */
	/* margin-right: 30%;  Отступ справа */
}

h1 {
	padding-top: 10px;
}

h3 {
	padding-bottom: 30px;
}

#jkl {
	border: none; /* Убираем границу */
	background-color: black; /* Цвет линии */
	color: rgba(0, 0, 0, 0.05);; /* Цвет линии для IE6-7 */
	height: 1px; /* Толщина линии */
}

.header {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 80px;
	position: fixed;
	display: flex;
	align-items: normal;
	align-content: center;
	overflow: auto;
	background: silver;
	border-bottom: 2px solid grey;
} 

.header_logotip img{
	width: 65px;
	height: 65px;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left:30px;
}

.header__list{
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.header__list ul{
	display: flex;
	align-items: normal;
	padding-top: 11px;
	padding-bottom: 15px;
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.header__list li{
	font-family:'Fredoka One', cursive;
	font-size: 15px;
	display: flex;
	line-height: 17px;
	text-decoration: none;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
	width: max-content;
}

.header__list a{
	text-decoration:none;
	color: rgba(240, 248, 255, 1);
}

/*-------------------------------------------------*/

.__main__content {
	display: flex;
	align-items: normal;
	align-content: center;
	background: #FFE4C4;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.__content__block1{
	display: flex;
	align-items: center;
	padding-top: 100px;
	padding-left: 100px;
	padding-bottom: 100px;
}

.__block1__el{
	padding-right:30px;
}

.img{
	width:100px;
	height:100px;
	display:flex;
	position: relative;
}

.button{
	width:20px;
	height:20px;

}

.h1{
	font-family:'Fredoka One', cursive;
	font-size: 20px;
	color:#0E51A7;
}

.nav{

}

.a{
	text-decoration: none;
	color:#4282D3;
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
	border-radius: 10%;
	border-bottom: 2px solid #679ED2;
}

.p{
	font-family:'Fredoka One', cursive;
	font-size: 16px;
	color:#679ED2;
}
